<header class="index-header">
<h1>All Tags</h1>
</header>

<div class="tag-list">
<% @tags.each do |tag| %>
   <%= link_to tag.name, tag_path(tag), :class => 'article-arrow' %>
   <% if current_user.try(:admin?) %>
   <%= link_to "delete", tag_path(tag), method: :delete, data: {confirm: "Really delete the tag?"} %>
   <% end %>
<% end %>
</div>
